# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/compile_commands.json
build/Makefile
build/RtMidiConfigUninstall.cmake
build/CMakeFiles/*
build/.cmake/api/*

build/.cmake/api/v1/query/client-vscode/query.json
tutorials/vectorField/bin/*
tutorials/vectorField/build/*
